<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Bears App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>This is the list of Da Bears!</h2>
      </div>
    </div>

    <div class="container">
        <div class="row">
        <form id="newBear" class="form-control">
          <div class="form-group">
            <input type="text" id="name" name="name" placeholder="Name">
            <input type="text" id="age" name="age" placeholder="Age">
            <input type="text" id="location" name="location" placeholder="Location">
            <input type="text" id="species" name="species" placeholder="Species" />
            <input type="text" id="attitude" name="attitude" placeholder="Attidude">
            <input type="text" id="weight" name="weight" placeholder="Weight">
            <input type="submit" class="btn btn-danger" value="Add The Bear">
            <button type="button" id="update-btn" class="btn btn-primary">Update Bear</button>
          </div>
        </form>
      </div>

      <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><strong>Name</strong></th>
            <th><strong>Species</strong></th>
            <th><strong>Weight</strong></th>
            <th><strong>location</strong></th>
            <th><strong>Age</strong></th>
            <th><strong>Attitude</strong></th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i<bears.length; i++) { %>
              <tr>
                <td><%= bears[i].name %></td>
                <td><%= bears[i].species %></td>
                <td><%= bears[i].weight %></td>
                <td><%= bears[i].location %></td>
                <td><%= bears[i].age %></td>
                <td><%= bears[i].attitude %></td>
                <td><button id="del-<%= bears[i]._id %>" type="button" class="btn btn-primary delete">Delete</button>
                <td><button id="update-<%= bears[i]._id %>" type="button" class="btn btn-primary update">Update</button>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src='js/main.js'></script>
  </body>
</html>
